# Application
PORT=3333
NODE_ENV=test
API_URL=http://localhost:3333

# Database
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=public
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
